@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><b>Shift Enrollment System</b></p>
    <p>Sukhjit Singh</a>.</p>
    <p>Shivam bhargav</a>.</p>
    <p>Mehul panesar</a>.</p>
    <p>Sahil devgan</a>.</p>
    <p>Varisdeep Singh</a>.</p>
</div>
